*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #191919;
}

.wrapper{
    display: flex;
    margin-right: 8rem;
}

.left{
    display: flex;
    width: 60%%;
}

/* LEFT COLUMN 1 */
.col1{
    width: 40%;
    margin-left: 8rem;
    margin-top: 1rem;
    border-right: .5px solid hsla(0, 0%, 76%, 0.7);
}

.col1 .links img{
    width: 24px;
    height: 24px;
}

.home,
.explore,
.notifications,
.messages,
.grok,
.bookmarks,
.communities,
.premium,
.verified_orgs,
.profile,
.more{
    display: flex;
    align-items: center;
    padding: 15px 0;
    color: #fff;

}

.links h3{
    margin-left: 1rem;
}

.col1 .primary_btn button{
    background-color: #fff;
    color: #000;
    padding: 20px 100px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
}

.profile img{
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.profile_options img{
    width: 15px;
    margin-left: 100px;
    margin-right: 4rem;
}

.information h4{
    margin-bottom: .3rem;
}

.information p{
    opacity: .6;
}

/* LEFT COLUMN 2 */
.col2{
    width: 60%;
    border-right: .5px solid hsla(0, 0%, 76%, 0.7);
    padding-right: 2rem;
}

.nav{
    border-bottom: .5px solid hsla(0, 0%, 76%, 0.7);
    height: 8vh;
    
}

.nav a{
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    padding: 20px 40px;
    background: tomato;
    align-items: center;
    justify-content: center;
}

.post{
    margin-top: 1rem;
    margin-left: 1rem;
    border-bottom: .5px solid hsla(0, 0%, 76%, 0.7);
}

.post .happening img{
    width: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.post .happening{
    display: flex;
    align-items: center;
}

.post input{
    color: hsla(0, 0%, 76%, 0.7);
    font-size: 1.5rem;
    margin: 10px 100px 10px 0;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.under .quick_links{
    margin-left: 4rem;
}

.under .quick_links img{
    width:15px;
    height: 15px;
    margin-left: .2rem;
}

.under .quick_links img{
    margin-left: .6rem;
}

.under{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.under button{
    background-color: #fff;
    color: #000;
    padding: 12px 30px;
    border-radius: 50px;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: .8rem;
}

.card{
    color: #fff;
    margin-left: 5rem;
    margin-top: .8rem;
}

.extra{
    display: flex;
}

.head{
    display: flex;
}

.more1{
    width: 15px;
    height: 15px;
}

.top_row{
    display: flex;
    justify-content: space-between;
}

.headline_image img{
    width: 500px;
    border-radius: 20px;
    margin-top: 1rem;
}

/* RIGHT COLUMN */
.right{
    margin-left: 2rem;
    color: #fff;
}
.subscribe{
    padding: 1rem;
    margin-top: 1.5rem;
    border: .5px solid hsla(0, 0%, 76%, 0.7);
    border-radius: 20px;
}

.subscribe button{
    background-color: #08a0e9;
    color: #fff;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    border: none;
}

.trending{
    padding: 1rem;
    margin-top: 1.5rem;
    border: .5px solid hsla(0, 0%, 76%, 0.7);
    border-radius: 20px;
}

.follow{
    padding: 1rem;
    margin-top: 1.5rem;
    border: .5px solid hsla(0, 0%, 76%, 0.7);
    border-radius: 20px;
}

.minis{
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.mini1{
    margin-top: 1rem;
    line-height: 1.4rem;
}

.mini1{
    display: flex;
    justify-content: space-between;
}

.mini1 img{
    width: 15px;
    height: 15px;
}

.mini1 p{
    opacity: .6;
}

.follow button{
    background-color: #fff;
    color: #000;
    padding: 12px 20px;
    border-radius: 50px;
    font-size: .8rem;
    font-weight: 700;
    margin-left: 5rem;
}

.btm_footer a{
    color: hsla(0, 0%, 76%, 0.7);
    text-decoration: none;
    font-size: .8rem;
}

.btm_footer{
    display: flex;
}